---
import { getCategories, getCategoryDetail, getProducts } from "../../utils/microcms";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ProductCardByMicrocms from "../../components/ProductCardByMicrocms.astro";

export async function getStaticPaths() {
  const response = await getCategories({ fields: ["id"] });
  return response.contents.map((content: any) => ({
    params: {
      id: content.id,
    },
  }));
}

const title = "SomeRoom";
const { id } = Astro.params;
const cat = await getCategoryDetail(id as string);

const products = await getProducts({
  filters: `categories[contains]${id}`,
  limit: 100
});
---

<BaseLayout title={title} currentPage="product">
  <section class="h-full pt-10 pb-12 max-sm:pt-16">
    <div class="relative flex items-start gap-x-[2px]">
      <h2 class="text-xs">
        Category:
      </h2>
      <span class="text-xl mt-[2px]">
        {cat.name}
      </span>
      <span class="text-xs font-bold -mt-1 ml-[2px]">
        {products.contents.length ? `${products.contents.length}` : ''}
      </span>
    </div>
    <div class="grid grid-cols-5 gap-12 mt-3 max-lg:grid-cols-4 max-md:grid-cols-3 max-md:gap-8 max-sm:grid-cols-2 max-sm:gap-4">
      {products.contents.map((product: any) => (
        <ProductCardByMicrocms
          product={product}
          className=""
        />
      ))}
    </div>
  </section>
</BaseLayout>
